@-webkit-keyframes flipOutYtest {
  from {
    -webkit-transform: perspective(1400px);
    transform: perspective(1400px);
  }
  40% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }
}
.flipOut {
  -webkit-animation: flipOutYtest 1s linear;
  animation: flipOutYtest 1s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flipInYtest {
  from {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(1400px);
    transform: perspective(1400px);
    opacity: 1;
  }
}
.flipIn {
  -webkit-animation: flipInYtest 1s linear;
  animation: flipInYtest 1s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.big-box {
  width: 100%;
  height: 100%;
  background-image: url(../images/big_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .flex-box {
  display: flex;
  justify-content: space-between;
}
.big-box .flex-box:before,
.big-box .flex-box:after {
  content: '';
  display: block;
}
.big-box .header_img {
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.4rem;
  color: #fff;
  letter-spacing: 0.05rem;
  font-weight: bold;
}
.big-box .header_img .logo {
  width: 1rem;
  height: 0.5rem;
  display: inline-block;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  vertical-align: text-bottom;
}
.big-box .header_img .title-text {
  display: inline-block;
  margin-left: -0.1rem;
}
.big-box .content {
  width: 96%;
  height: 84%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.big-box .content:before,
.big-box .content:after {
  content: '';
  display: block;
}
.big-box .content .chart-box .chart-box {
  width: 100%;
  height: 100%;
}
.big-box .content .chart-box .chart-box .title {
  width: 90%;
  height: 16%;
  font-size: 0.2rem;
  line-height: 0.4rem;
  color: #FBFCFF;
  margin: 0 auto;
  text-align: center;
}
.big-box .content .chart-box .chart-box .chart {
  width: 100%;
  height: 83%;
}
.big-box .content .left-box {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .left-box .left-top {
  width: 100%;
  height: 30%;
  background-color: rgba(220, 38, 38, 0);
  background-image: url(../images/left_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.big-box .content .left-box .left-top .chart-box {
  width: 100%;
  height: 100%;
}
.big-box .content .left-box .left-top .chart-box .title {
  width: 90%;
  height: 16%;
  font-size: 0.2rem;
  line-height: 0.4rem;
  color: #FBFCFF;
  margin: 0 auto;
  text-align: center;
}
.big-box .content .left-box .left-top .chart-box .chart {
  width: 100%;
  height: 83%;
}
.big-box .content .left-box .left-middle {
  width: 100%;
  height: 33%;
  background-color: rgba(220, 38, 38, 0);
  background-image: url(../images/left_middle_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .left-box .left-middle .chart-box {
  width: 100%;
  height: 100%;
}
.big-box .content .left-box .left-middle .chart-box .title {
  width: 90%;
  height: 16%;
  font-size: 0.2rem;
  line-height: 0.4rem;
  color: #FBFCFF;
  margin: 0 auto;
  text-align: center;
}
.big-box .content .left-box .left-middle .chart-box .chart {
  width: 100%;
  height: 83%;
}
.big-box .content .left-box .left-bottom {
  width: 100%;
  height: 33%;
  background-color: rgba(220, 38, 38, 0);
  background-image: url(../images/left_bottom_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .left-box .left-bottom .chart-box {
  width: 100%;
  height: 100%;
}
.big-box .content .left-box .left-bottom .chart-box .title {
  width: 90%;
  height: 16%;
  font-size: 0.2rem;
  line-height: 0.4rem;
  color: #FBFCFF;
  margin: 0 auto;
  text-align: center;
}
.big-box .content .left-box .left-bottom .chart-box .chart {
  width: 100%;
  height: 83%;
}
.big-box .content .center-box {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(220, 38, 38, 0);
}
.big-box .content .center-box .center-top-box {
  width: 100%;
  height: 36%;
  background-image: url("../images/middle_top_border.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .center-box .center-top-box .center-top {
  width: 95%;
  height: 60%;
  margin: 0 auto;
}
.big-box .content .center-box .center-top-box .center-top .number-text {
  width: 80%;
  height: 0.35rem;
  text-align: center;
  font-size: 0.22rem;
  color: #fff;
  line-height: 0.4rem;
  margin: 0 auto;
}
.big-box .content .center-box .center-top-box .center-top .data-box {
  width: 95%;
  height: 1.1rem;
  margin: 0 auto;
  margin-top: 0.3rem;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  background-image: url("../images/total_number_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
}
.big-box .content .center-box .center-top-box .center-top .data-box .number {
  width: 0.6rem;
  height: 0.85rem;
  margin: 0 0.05rem;
  color: #FFFF00;
  text-align: center;
  line-height: 0.85rem;
  background-image: url(../images/number_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .center-box .center-top-box .center-top .data-box .text {
  color: #fff;
}
.big-box .content .center-box .center-top-box .center-four-data {
  width: 95%;
  height: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.big-box .content .center-box .center-top-box .center-four-data:before,
.big-box .content .center-box .center-top-box .center-four-data:after {
  content: '';
  display: block;
}
.big-box .content .center-box .center-top-box .center-four-data .online-rate {
  width: 22%;
  height: 100%;
  background-image: url("../images/four_data_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .center-box .center-top-box .center-four-data .boot-times {
  width: 22%;
  height: 100%;
  background-image: url("../images/four_data_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 28%;
}
.big-box .content .center-box .center-top-box .center-four-data .active-terminal {
  height: 100%;
  background-image: url("../images/four_data_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 22%;
}
.big-box .content .center-box .center-top-box .center-four-data .turn-on-time {
  width: 22%;
  height: 100%;
  background-image: url("../images/four_data_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 25%;
}
.big-box .content .center-box .center-top-box .center-four-data > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.big-box .content .center-box .center-top-box .center-four-data > div .num-text {
  font-size: 0.2rem;
  color: #ffffff;
}
.big-box .content .center-box .center-top-box .center-four-data > div .num-data1 {
  font-size: 0.3rem;
  color: #3EE6E3;
}
.big-box .content .center-box .center-top-box .center-four-data > div .num-data2 {
  font-size: 0.3rem;
  color: #3EE6E3;
}
.big-box .content .center-box .center-top-box .center-four-data > div .num-data3 {
  font-size: 0.3rem;
  color: #3EE6E3;
}
.big-box .content .center-box .center-top-box .center-four-data > div .num-data3 .minute {
  font-size: 0.2rem;
}
.big-box .content .center-box .center-top-box .center-four-data > div .num-data4 {
  font-size: 0.3rem;
  color: #3EE6E3;
}
.big-box .content .center-box .center-middle {
  width: 80%;
  height: 50%;
  margin: 0 auto;
}
.big-box .content .center-box .center-bottom {
  width: 100%;
  height: 10%;
  font-size: 0.2rem;
  color: #0eb7d7;
}
.big-box .content .center-box .center-bottom .bg-image {
  width: 80%;
  height: 63%;
  margin: 0 auto;
}
.big-box .content .center-box .center-bottom .bg-image .new-data {
  width: 96%;
  height: 90%;
  text-align: center;
  overflow-y: hidden;
  margin-top: 0.05rem;
}
.big-box .content .center-box .center-bottom .bg-image .new-data li {
  font-size: 0.18rem;
  display: none;
  color: #9CD1FF;
}
.big-box .content .right-box {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .right-box .right-top {
  width: 100%;
  height: 26%;
  background-image: url("../images/right_top_border.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-top: 0.2rem;
}
.big-box .content .right-box .right-top .wrapper-box {
  width: 100%;
  height: 100%;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(220, 38, 38, 0);
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box:before,
.big-box .content .right-box .right-top .wrapper-box .swiper-box:after {
  content: '';
  display: block;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .left {
  width: 30%;
  height: 60%;
  background-image: url("../images/right_top_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .left div:nth-child(1) {
  font-size: 0.22rem;
  margin-bottom: 0.08rem;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .left .num-text {
  color: #50DF76;
  font-size: 0.3rem;
  font-family: "Adobe Heiti Std";
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .middle {
  width: 30%;
  height: 60%;
  background-image: url("../images/right_top_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .middle div:nth-child(1) {
  font-size: 0.22rem;
  margin-bottom: 0.08rem;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .middle .num-text {
  color: #50DF76;
  font-size: 0.3rem;
  font-family: "Adobe Heiti Std";
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .middle .num-text {
  color: #00FFFF;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .right {
  width: 30%;
  height: 60%;
  background-image: url("../images/right_top_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .right div:nth-child(1) {
  font-size: 0.22rem;
  margin-bottom: 0.08rem;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .right .num-text {
  color: #50DF76;
  font-size: 0.3rem;
  font-family: "Adobe Heiti Std";
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box .right .num-text {
  color: #F45E23;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 {
  width: 100%;
  height: 100%;
  background-image: url("../images/right_border.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .title {
  width: 100%;
  height: 20%;
  font-size: 0.22rem;
  color: #fff;
  line-height: 0.4rem;
  padding-left: 0.2rem;
  text-align: center;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items:before,
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items:after {
  content: '';
  display: block;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item {
  width: 30%;
  height: 85%;
  background-image: url(../images/item_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.24rem;
  color: #fff;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren .text-1 {
  color: #fff;
  margin-bottom: 0.1rem;
  font-size: 0.2rem;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren .data-1 {
  color: #04FDFF;
  font-size: 0.3rem;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren .text-2 {
  font-size: 0.2rem;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren .data-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren .data-2 .arrow-up {
  width: 0.16rem;
  height: 0.19rem;
  background-image: url(../images/up.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 0.1rem 0 0;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren .data-2 .arrow-down {
  width: 0.16rem;
  height: 0.19rem;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 0.1rem 0 0;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren .data-2 .data-up {
  color: #2EB75B;
}
.big-box .content .right-box .right-top .wrapper-box .swiper-box-1 .items .item .item-chilren .data-2 .data-down {
  color: #FF3636;
}
.big-box .content .right-box .right-middle {
  width: 100%;
  height: 34%;
  background-color: rgba(220, 38, 38, 0);
  background-image: url(../images/right_middle_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .right-box .right-middle .chart-box {
  width: 100%;
  height: 100%;
}
.big-box .content .right-box .right-middle .chart-box .title {
  width: 90%;
  height: 16%;
  font-size: 0.2rem;
  line-height: 0.4rem;
  color: #FBFCFF;
  margin: 0 auto;
  text-align: center;
}
.big-box .content .right-box .right-middle .chart-box .chart {
  width: 100%;
  height: 83%;
}
.big-box .content .right-box .right-bottom {
  width: 100%;
  height: 34%;
  background-color: rgba(220, 38, 38, 0);
  background-image: url(../images/right_middle_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .right-box .right-bottom .chart-box {
  width: 100%;
  height: 100%;
}
.big-box .content .right-box .right-bottom .chart-box .title {
  width: 90%;
  height: 16%;
  font-size: 0.2rem;
  line-height: 0.4rem;
  color: #FBFCFF;
  margin: 0 auto;
  text-align: center;
}
.big-box .content .right-box .right-bottom .chart-box .chart {
  width: 100%;
  height: 83%;
}
