@-webkit-keyframes flipOutYtest {
  from {
    -webkit-transform: perspective(1400px);
    transform: perspective(1400px);
  }
  40% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }
}
.flipOut {
  -webkit-animation: flipOutYtest 0.75s linear;
  animation: flipOutYtest 0.75s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flipInYtest {
  from {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(1400px);
    transform: perspective(1400px);
    opacity: 1;
  }
}
.flipIn {
  -webkit-animation: flipInYtest 0.75s linear;
  animation: flipInYtest 0.75s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.big-box {
  width: 100%;
  height: 100%;
  background-image: url(../images/ad_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .flex-box {
  display: flex;
  justify-content: space-between;
}
.big-box .flex-box:before,
.big-box .flex-box:after {
  content: '';
  display: block;
}
.big-box .header_img {
  width: 100%;
  height: 0.81rem;
  line-height: 0.8rem;
  font-size: 0.5rem;
  color: #fff;
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-family: number_font;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.big-box .header_img .logo {
  width: 1.73rem;
  height: 0.81rem;
  display: inline-block;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-left: 0.3rem;
}
.big-box .header_img .cloud {
  width: 0.53rem;
  height: 0.33rem;
  background-image: url(../images/cloud.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-right: 0.5rem;
}
.big-box .content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}
.big-box .content:before,
.big-box .content:after {
  content: '';
  display: block;
}
.big-box .content .left-box {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .left-box .left-top {
  width: 100%;
  height: 30%;
  background-image: url(../images/left_top_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .left-box .left-middle {
  width: 100%;
  height: 34%;
  background-image: url(../images/left_middle_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .left-box .left-middle .carousel1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.big-box .content .left-box .left-middle .carousel1 .carousel-chart1 {
  width: 100%;
  height: 100%;
}
.big-box .content .left-box .left-middle .carousel1 .carousel-chart2 {
  width: 100%;
  height: 100%;
}
.big-box .content .left-box .left-bottom {
  width: 100%;
  height: 34%;
  background-image: url(../images/left_bottom_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .center-box {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .center-box .center-top {
  width: 100%;
  height: 30%;
  background-image: url(../images/middle_top_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}
.big-box .content .center-box .center-top .history-text {
  width: 100%;
  height: 20%;
  font-size: 0.26rem;
  color: #555656;
  text-align: center;
  line-height: 0.55rem;
  letter-spacing: 0.05rem;
  margin-top: 0.15rem;
  font-weight: bold;
}
.big-box .content .center-box .center-top .this-year {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  font-size: 0.26rem;
  color: #555656;
  text-align: center;
  line-height: 0.55rem;
  letter-spacing: 0.05rem;
  opacity: 0;
  margin-top: 0.15rem;
  font-weight: bold;
}
.big-box .content .center-box .center-top .data-big-box {
  margin: 0 auto;
  width: 89%;
  height: 30%;
}
.big-box .content .center-box .center-top .data-big-box .data-box {
  width: 100%;
  height: 100%;
  background-image: url(../images/border_main.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}
.big-box .content .center-box .center-top .data-big-box .data-box .history-data {
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  color: #fff;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-align: center;
  font-family: font_Digital;
  line-height: 0.85rem;
}
.big-box .content .center-box .center-top .data-big-box .data-box .this-year-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  color: #fff;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  font-family: font_Digital;
  line-height: 0.85rem;
}
.big-box .content .center-box .center-top .current {
  width: 90%;
  height: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.big-box .content .center-box .center-top .current .current-month {
  width: 37%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .center-box .center-top .current .current-month:before,
.big-box .content .center-box .center-top .current .current-month:after {
  content: '';
  display: block;
}
.big-box .content .center-box .center-top .current .current-month div:first-child {
  color: #eeb033;
  font-size: 0.2rem;
  font-family: font_siyuan;
  font-weight: bold;
  line-height: 0.42rem;
}
.big-box .content .center-box .center-top .current .current-month div:nth-child(2) {
  height: 0.5rem;
  line-height: 0.5rem;
  color: #ffffff;
  font-size: 0.36rem;
  background-image: url(../images/border_small_left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-family: font_Digital;
  font-weight: bold;
}
.big-box .content .center-box .center-top .current .current-week {
  width: 37%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.big-box .content .center-box .center-top .current .current-week:before,
.big-box .content .center-box .center-top .current .current-week:after {
  content: '';
  display: block;
}
.big-box .content .center-box .center-top .current .current-week div:first-child {
  color: #eeb033;
  font-size: 0.2rem;
  font-family: font_siyuan;
  font-weight: bold;
  line-height: 0.42rem;
}
.big-box .content .center-box .center-top .current .current-week div:nth-child(2) {
  height: 0.5rem;
  line-height: 0.5rem;
  color: #ffffff;
  font-size: 0.36rem;
  background-image: url(../images/border_small_left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-family: font_Digital;
  font-weight: bold;
}
.big-box .content .center-box .center-top .current .current-week div:nth-child(2) {
  background-image: url(../images/border_small_middle.png);
}
.big-box .content .center-box .center-top .current .current-day {
  width: 37%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.big-box .content .center-box .center-top .current .current-day:before,
.big-box .content .center-box .center-top .current .current-day:after {
  content: '';
  display: block;
}
.big-box .content .center-box .center-top .current .current-day div:first-child {
  color: #eeb033;
  font-size: 0.2rem;
  font-family: font_siyuan;
  font-weight: bold;
  line-height: 0.42rem;
}
.big-box .content .center-box .center-top .current .current-day div:nth-child(2) {
  height: 0.5rem;
  line-height: 0.5rem;
  color: #ffffff;
  font-size: 0.36rem;
  background-image: url(../images/border_small_left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-family: font_Digital;
  font-weight: bold;
}
.big-box .content .center-box .center-top .current .current-day div:nth-child(2) {
  background-image: url(../images/border_small_right.png);
}
.big-box .content .center-box .center-middle {
  width: 100%;
  height: 55%;
  position: relative;
}
.big-box .content .center-box .center-middle .china_map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.45rem;
  left: 0;
}
.big-box .content .center-box .center-bottom {
  width: 100%;
  height: 15%;
}
.big-box .content .center-box .center-bottom .bottom-left {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.big-box .content .center-box .center-bottom .bottom-left .city-num1 {
  width: 32%;
  margin-top: 0.1rem;
  height: 90%;
  font-size: 0.2rem;
  color: #eeb033;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: font_siyuan;
  font-weight: bold;
}
.big-box .content .center-box .center-bottom .bottom-left .city-num1 .num-text {
  width: 100%;
  height: 100%;
  color: #ffffff;
  height: 0.46rem;
  line-height: 0.48rem;
  font-weight: normal;
  font-size: 0.3rem;
  font-family: font_Gayatri;
  letter-spacing: 0.03rem;
  background-image: url(../images/border_city.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .center-box .center-bottom .bottom-left .room-num1 {
  margin-top: 0.1rem;
  height: 90%;
  font-size: 0.2rem;
  color: #eeb033;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: font_siyuan;
  font-weight: bold;
  width: 32%;
}
.big-box .content .center-box .center-bottom .bottom-left .room-num1 .num-text {
  width: 100%;
  height: 100%;
  color: #ffffff;
  height: 0.46rem;
  line-height: 0.48rem;
  font-weight: normal;
  font-size: 0.3rem;
  font-family: font_Gayatri;
  letter-spacing: 0.03rem;
  background-image: url(../images/border_city.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .center-box .center-bottom .bottom-left .hotel-num1 {
  margin-top: 0.1rem;
  height: 90%;
  font-size: 0.2rem;
  color: #eeb033;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: font_siyuan;
  font-weight: bold;
  width: 32%;
}
.big-box .content .center-box .center-bottom .bottom-left .hotel-num1 .num-text {
  width: 100%;
  height: 100%;
  color: #ffffff;
  height: 0.46rem;
  line-height: 0.48rem;
  font-weight: normal;
  font-size: 0.3rem;
  font-family: font_Gayatri;
  letter-spacing: 0.03rem;
  background-image: url(../images/border_city.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .right-box {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .right-box .right-top {
  width: 100%;
  height: 28%;
  background-image: url(../images/right_top_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-box .content .right-box .right-top .border-bg-small {
  width: 79%;
  height: 75%;
  margin-top: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/border_small_1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.big-box .content .right-box .right-top .border-bg-small .history-num {
  width: 100%;
  height: 50%;
  text-align: center;
  color: #fff;
  font-size: 0.22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-box .content .right-box .right-top .border-bg-small .history-num > div:first-child {
  color: #555565;
  font-weight: bold;
  font-family: "font_siyuan";
}
.big-box .content .right-box .right-top .border-bg-small .history-num > div:nth-child(2) {
  font-family: font_Gayatri;
  letter-spacing: 0.05rem;
  color: #fff;
  font-size: 0.45rem;
}
.big-box .content .right-box .right-top .border-bg-small .mouth-num {
  width: 100%;
  height: 50%;
  text-align: center;
  color: #fff;
  font-size: 0.22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-box .content .right-box .right-top .border-bg-small .mouth-num > div:first-child {
  color: #555565;
  font-weight: bold;
  font-family: "font_siyuan";
}
.big-box .content .right-box .right-top .border-bg-small .mouth-num > div:nth-child(2) {
  font-family: font_Gayatri;
  letter-spacing: 0.05rem;
  color: #fff;
  font-size: 0.45rem;
}
.big-box .content .right-box .right-middle {
  width: 100%;
  height: 44%;
  background-image: url("../images/right_middle_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.big-box .content .right-box .right-middle .carousel2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.big-box .content .right-box .right-middle .carousel2 .carousel-chart3 {
  width: 100%;
  height: 100%;
}
.big-box .content .right-box .right-middle .carousel2 .carousel-chart4 {
  width: 100%;
  height: 100%;
}
.big-box .content .right-box .right-bottom {
  width: 100%;
  height: 28%;
  background-image: url(../images/right_top_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-box .content .right-box .right-bottom .border-small {
  width: 79%;
  height: 75%;
  margin-top: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/border_small_2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.big-box .content .right-box .right-bottom .border-small .history-num {
  width: 100%;
  height: 50%;
  text-align: center;
  color: #fff;
  font-size: 0.22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-box .content .right-box .right-bottom .border-small .history-num > div:first-child {
  color: #555565;
  font-weight: bold;
  font-family: "font_siyuan";
}
.big-box .content .right-box .right-bottom .border-small .history-num > div:nth-child(2) {
  height: 0.4rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
}
.big-box .content .right-box .right-bottom .border-small .history-num .num-text1 {
  color: #ffffff;
  font-family: font_Gayatri;
  font-size: 0.36rem;
  display: flex;
  justify-content: center;
  font-weight: normal;
}
.big-box .content .right-box .right-bottom .border-small .history-num .unit {
  font-family: font_siyuan;
  color: #ffffff;
  font-size: 0.2rem;
  line-height: 0.34rem;
}
.big-box .content .right-box .right-bottom .border-small .mouth-num {
  width: 100%;
  height: 50%;
  text-align: center;
  color: #fff;
  font-size: 0.22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-box .content .right-box .right-bottom .border-small .mouth-num > div:first-child {
  color: #555565;
  font-weight: bold;
  font-family: "font_siyuan";
}
.big-box .content .right-box .right-bottom .border-small .mouth-num > div:nth-child(2) {
  height: 0.4rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
}
.big-box .content .right-box .right-bottom .border-small .mouth-num .num-text1 {
  color: #ffffff;
  font-family: font_Gayatri;
  font-size: 0.36rem;
  display: flex;
  justify-content: center;
  font-weight: normal;
}
.big-box .content .right-box .right-bottom .border-small .mouth-num .unit {
  font-family: font_siyuan;
  color: #ffffff;
  font-size: 0.2rem;
  line-height: 0.34rem;
}
