@-webkit-keyframes flipOutYtest {
  from {
    -webkit-transform: perspective(1400px);
    transform: perspective(1400px);
  }
  40% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }
}
.flipOut {
  -webkit-animation: flipOutYtest 0.75s linear;
  animation: flipOutYtest 0.75s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flipInYtest {
  from {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(1400px);
    transform: perspective(1400px);
    opacity: 1;
  }
}
.flipIn {
  -webkit-animation: flipInYtest 0.75s linear;
  animation: flipInYtest 0.75s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.big-box {
  width: 100%;
  height: 100%;
  background-image: url(../images/viewing_card_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .flex-box {
  display: flex;
  justify-content: space-between;
}
.big-box .flex-box:before,
.big-box .flex-box:after {
  content: '';
  display: block;
}
.big-box .header_img {
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.42rem;
  color: #fff5b5;
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-family: number_font;
}
.big-box .header_img .logo {
  width: 1rem;
  height: 0.5rem;
  display: inline-block;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  vertical-align: text-bottom;
}
.big-box .header_img .title-text {
  display: inline-block;
  margin-left: -0.1rem;
}
.big-box .header_img .title-text .debugging {
  font-size: 0.22rem;
}
.big-box .content {
  width: 97%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.big-box .content:before,
.big-box .content:after {
  content: '';
  display: block;
}
.big-box .content .left-box {
  width: 25%;
  height: 89%;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .left-box .left-top {
  width: 100%;
  height: 32%;
  background-image: url(../images/viewing_card_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .left-box .left-middle {
  width: 100%;
  height: 32%;
  background-image: url(../images/viewing_card_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .left-box .left-middle .carousel1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.big-box .content .left-box .left-middle .carousel1 .carousel-chart1 {
  width: 100%;
  height: 100%;
}
.big-box .content .left-box .left-middle .carousel1 .carousel-chart2 {
  width: 100%;
  height: 100%;
}
.big-box .content .left-box .left-bottom {
  width: 100%;
  height: 32%;
  background-image: url(../images/viewing_card_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .center-box {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .center-box .center-top {
  width: 100%;
  height: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .center-box .center-top:before,
.big-box .content .center-box .center-top:after {
  content: '';
  display: block;
}
.big-box .content .center-box .center-top .year-box {
  width: 100%;
  height: 40%;
  margin: 0 auto;
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.big-box .content .center-box .center-top .year-box .year-orders {
  width: 38%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-box .content .center-box .center-top .year-box .year-orders div:first-child {
  margin: 0 auto;
  width: 1.8rem;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #ff5400;
  font-size: 0.28rem;
  border-bottom: 1px solid #ff5400;
}
.big-box .content .center-box .center-top .year-box .year-orders div:nth-child(2) {
  color: #ff5400;
  font-size: 0.5rem;
  height: 0.7rem;
  letter-spacing: 0.05rem;
  font-family: main_number_font;
}
.big-box .content .center-box .center-top .year-box .year-completion {
  width: 38%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34%;
}
.big-box .content .center-box .center-top .year-box .year-completion div:first-child {
  margin: 0 auto;
  width: 1.8rem;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #ff5400;
  font-size: 0.28rem;
  border-bottom: 1px solid #ff5400;
}
.big-box .content .center-box .center-top .year-box .year-completion div:nth-child(2) {
  color: #ff5400;
  font-size: 0.5rem;
  height: 0.7rem;
  letter-spacing: 0.05rem;
  font-family: main_number_font;
}
.big-box .content .center-box .center-top .year-box .year-completion div:first-child {
  width: 2.37rem;
}
.big-box .content .center-box .center-top .current {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-around;
}
.big-box .content .center-box .center-top .current .current-month {
  width: 33%;
  height: 90%;
  padding-left: 0.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-box .content .center-box .center-top .current .current-month div:first-child {
  color: #fff5b5;
  font-size: 0.2rem;
}
.big-box .content .center-box .center-top .current .current-month div:nth-child(2) {
  color: #ff9639;
  font-size: 0.36rem;
  letter-spacing: 0.05rem;
  font-family: main_number_font;
}
.big-box .content .center-box .center-top .current .current-week {
  width: 33%;
  height: 90%;
  padding-left: 0.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32%;
  padding-right: 0.25rem;
}
.big-box .content .center-box .center-top .current .current-week div:first-child {
  color: #fff5b5;
  font-size: 0.2rem;
}
.big-box .content .center-box .center-top .current .current-week div:nth-child(2) {
  color: #ff9639;
  font-size: 0.36rem;
  letter-spacing: 0.05rem;
  font-family: main_number_font;
}
.big-box .content .center-box .center-top .current .current-day {
  width: 33%;
  height: 90%;
  padding-left: 0.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.25rem;
  width: 32%;
}
.big-box .content .center-box .center-top .current .current-day div:first-child {
  color: #fff5b5;
  font-size: 0.2rem;
}
.big-box .content .center-box .center-top .current .current-day div:nth-child(2) {
  color: #ff9639;
  font-size: 0.36rem;
  letter-spacing: 0.05rem;
  font-family: main_number_font;
}
.big-box .content .center-box .center-middle {
  width: 70%;
  height: 55%;
  margin: 0 auto;
}
.big-box .content .center-box .center-bottom {
  width: 100%;
  height: 15%;
}
.big-box .content .center-box .center-bottom .bottom-left {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.big-box .content .center-box .center-bottom .bottom-left .all-num {
  width: 20%;
  display: inline-block;
  height: 90%;
  font-size: 0.16rem;
  color: #eeeeda;
  text-align: center;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.big-box .content .center-box .center-bottom .bottom-left .all-num .num-text {
  color: #ff9639;
  font-size: 0.32rem;
  font-weight: bold;
  font-style: italic;
  font-family: main_number_font;
  letter-spacing: 0.05rem;
}
.big-box .content .center-box .center-bottom .bottom-left .sell-num {
  display: inline-block;
  height: 90%;
  font-size: 0.16rem;
  color: #eeeeda;
  text-align: center;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.big-box .content .center-box .center-bottom .bottom-left .sell-num .num-text {
  color: #ff9639;
  font-size: 0.32rem;
  font-weight: bold;
  font-style: italic;
  font-family: main_number_font;
  letter-spacing: 0.05rem;
}
.big-box .content .center-box .center-bottom .bottom-left .already-num {
  display: inline-block;
  height: 90%;
  font-size: 0.16rem;
  color: #eeeeda;
  text-align: center;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-top: 0rem;
}
.big-box .content .center-box .center-bottom .bottom-left .already-num .num-text {
  color: #ff9639;
  font-size: 0.32rem;
  font-weight: bold;
  font-style: italic;
  font-family: main_number_font;
  letter-spacing: 0.05rem;
}
.big-box .content .center-box .center-bottom .bottom-left .already-num div:first-child {
  width: 70%;
}
.big-box .content .center-box .center-bottom .bottom-left .unready-num {
  display: inline-block;
  height: 90%;
  font-size: 0.16rem;
  color: #eeeeda;
  text-align: center;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-top: 0rem;
}
.big-box .content .center-box .center-bottom .bottom-left .unready-num .num-text {
  color: #ff9639;
  font-size: 0.32rem;
  font-weight: bold;
  font-style: italic;
  font-family: main_number_font;
  letter-spacing: 0.05rem;
}
.big-box .content .center-box .center-bottom .bottom-left .unready-num div:first-child {
  width: 70%;
}
.big-box .content .right-box {
  width: 25%;
  height: 89%;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-box .content .right-box .right-top {
  width: 100%;
  height: 32%;
  background-image: url(../images/viewing_card_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.big-box .content .right-box .right-top:before,
.big-box .content .right-box .right-top:after {
  content: '';
  display: block;
}
.big-box .content .right-box .right-top .history-num {
  width: 40%;
  height: 65%;
  text-align: center;
  background-image: url("../images/border_new.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  color: #fff;
  font-size: 0.22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-box .content .right-box .right-top .history-num > div:first-child {
  margin-bottom: 0.1rem;
}
.big-box .content .right-box .right-top .history-num > div:nth-child(2) {
  font-family: main_number_font;
  letter-spacing: 0.05rem;
}
.big-box .content .right-box .right-top .history-num .num-text {
  color: #08DFDF;
  font-size: 0.3rem;
  font-weight: bold;
}
.big-box .content .right-box .right-top .history-num .visitor-box1 {
  position: relative;
}
.big-box .content .right-box .right-top .history-num .visitor-box1 .week-visitor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  font-size: 0.22rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.05rem;
  opacity: 0;
}
.big-box .content .right-box .right-top .history-num .visitor-box2 {
  position: relative;
}
.big-box .content .right-box .right-top .history-num .visitor-box2 .week-num-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  font-size: 0.3rem;
  color: #08DFDF;
  text-align: center;
  letter-spacing: 0.05rem;
  opacity: 0;
}
.big-box .content .right-box .right-top .mouth-num {
  width: 40%;
  height: 65%;
  text-align: center;
  background-image: url("../images/border_new.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  color: #fff;
  font-size: 0.22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-box .content .right-box .right-top .mouth-num > div:first-child {
  margin-bottom: 0.1rem;
}
.big-box .content .right-box .right-top .mouth-num > div:nth-child(2) {
  font-family: main_number_font;
  letter-spacing: 0.05rem;
}
.big-box .content .right-box .right-top .mouth-num .num-text {
  color: #08DFDF;
  font-size: 0.3rem;
  font-weight: bold;
}
.big-box .content .right-box .right-top .mouth-num .visitor-box1 {
  position: relative;
}
.big-box .content .right-box .right-top .mouth-num .visitor-box1 .week-visitor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  font-size: 0.22rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.05rem;
  opacity: 0;
}
.big-box .content .right-box .right-top .mouth-num .visitor-box2 {
  position: relative;
}
.big-box .content .right-box .right-top .mouth-num .visitor-box2 .week-num-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  font-size: 0.3rem;
  color: #08DFDF;
  text-align: center;
  letter-spacing: 0.05rem;
  opacity: 0;
}
.big-box .content .right-box .right-top .year-visitor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  font-size: 0.25rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  letter-spacing: 0.05rem;
  opacity: 0;
}
.big-box .content .right-box .right-middle {
  width: 100%;
  height: 32%;
  background-image: url(../images/viewing_card_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.big-box .content .right-box .right-middle .carousel2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.big-box .content .right-box .right-middle .carousel2 .carousel-chart3 {
  width: 100%;
  height: 100%;
}
.big-box .content .right-box .right-middle .carousel2 .carousel-chart4 {
  width: 100%;
  height: 100%;
}
.big-box .content .right-box .right-bottom {
  width: 100%;
  height: 32%;
  background-image: url(../images/viewing_card_border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
